.c-slide{
    // height: 100vh;
    // width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // align-items: center;
    // height: 100vh;
    /* width: 100vw; */
    // position: relative;

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

 

    &__link{
        text-align: end;
        font-size: 10px;
    }


    &__img{
        width: 80%;
        max-height: 500px;
        max-width: 500px;
        align-content: center;
    }
    
    &__title{
        margin: 72px 32px 10px 32px;
    }

    &__p{
        text-align: center;
        margin: 32px;
    }

}