@import "../../styles/imports/settings.imports";

.c-onboarding{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img{
        width: 60%;
    }

    &__title{
        font-size: 64px;
        margin-top: 32px;
    }
}