@import "../../styles/imports/settings.imports";

.c-getin{
    background-image: url('/img/getin.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content{
        // width: 100vw;
        position: absolute;
        bottom: 40px;
        display:flex;
        flex-direction: column;
        // align-items: center;
    }

    &__link{
        text-align: center;
    }
}