.b-btn-circle{
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: 1px solid $color-lightSalmon;
    margin-right: 10px;

    &--dark{
        background-color: $color-lightSalmon;
    }

    &--light{
        background-color: $color-white;
    }

    &--medium{
        width: 20px;
        height: 20px;
    }

    &--small{
        width: 16px;
        height: 16px;
    }
}


