.b-btn-rectangle {
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-family: barlowlight;
  // height: 56px;
  text-align: center;
  // margin-top: 20px;
  

  &--ocean-dark {
    border: 2px solid $color-ocean;
    background-color: $color-ocean;
    color: $color-white;
  }

  &--ocean-light {
    border: 2px solid $color-ocean;
    background-color: $color-white;
    color: $color-ocean;
  }

  &--salmon-dark {
    border: 2px solid $color-lightSalmon;
    background-color: $color-lightSalmon;
    color: $color-white;
  }

  &--salmon-light {
    border: 2px solid $color-lightSalmon;
    background-color: $color-white;
    color: $color-lightSalmon;
  }

  &--big {
    max-width: 380px;
    // min-width: 180px;
    // width: 90%;
    font-size: 20px;
  }

  &--medium {
    max-width: 300px;
    // min-width: 150px;
    // width: 60%;
    font-size: 18px;
  }

  &--small {
    max-width: 200px;
    // min-width: 100px;
    // width: 40%;
    font-size: 16px;
  }
}
