
.b-btn-icon{
    height: 96px;
    width: 96px;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    font-family: barlowmedium;
    font-size: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 22px;
    margin-right: 10px;

    &__span{
        font-size: 40px;
    }

    &--ocean-dark{
        border: 2px solid $color-cloudyBlue;
        background-color: $color-cloudyBlue;
        color: $color-ocean;
    }

    &--ocean-light{
        background-color: $color-white;
        border: 2px solid $color-cloudyBlue;
        color: $color-ocean;
    }

    &--salmon-dark{
        border: 2px solid $color-lightSalmon;
        background-color: $color-lightSalmon;
        color: $color-white;
    }

    &--salmon-light{
        background-color: $color-white;
        border: 2px solid $color-lightSalmon;
        color: $color-lightSalmon;
    }

    &--big{
        // width: 448px;
        font-size: 38px;
    }


    &--medium{
        // width: 264px;
        font-size: 32px;
    }

    &--small{
        // width: 144px;
        font-size: 26px;
    }

    
}


.c-btn-salmon{
    padding: 15px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    font-family: barlowmedium;
    border: 2px solid $color-lightSalmon;
    height: 56px;

    &--dark{
        background-color: $color-lightSalmon;
        color: $color-white;
    }

    &--light{
        background-color: $color-white;
        color: $color-lightSalmon;
    }

    &--big{
        font-size: 40px;
    }


    &--medium{
        font-size: 34px;
    }

    &--small{
        font-size: 24px;
    }
    
}










// .b-btn-icon{
//     height: 96px;
//     width: 96px;
//     border: none;
//     border-radius: 8px;
//     padding: 10px;
//     outline: none;
//     cursor: pointer;
//     font-family: barlowmedium;
//     font-size: 22px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     &__span{
//         font-size: 40px;
//     }

//     &__p{
//         margin-top: 12px;
//         margin-bottom: 0;
//     }
    
    
//     &--ocean-dark{
//         border: 2px solid $color-cloudyBlue;
//         background-color: $color-cloudyBlue;
//         color: $color-ocean;
//     }

//     &--ocean-light{
//         background-color: $color-white;
//         border: 2px solid $color-ocean;
//         color: $color-ocean;
//     }

//     &--salmon-dark{
//         border: 2px solid $color-lightSalmon;
//         background-color: $color-lightSalmon;
//         color: $color-white;
//     }

//     &--salmon-light{
//         background-color: $color-white;
//         border: 2px solid $color-lightSalmon;
//         color: $color-lightSalmon;
//     }

//     &--big{
//         width: 448px;
//         font-size: 22px;
//     }


//     &--medium{
//         width: 264px;
//         font-size: 20px;
//     }

//     &--small{
//         width: 144px;
//         font-size: 18px;
//     }

    
// }


// .b-btn-salmon{
//     padding: 15px;
//     border-radius: 8px;
//     outline: none;
//     cursor: pointer;
//     font-family: barlowmedium;
//     border: 2px solid $color-lightSalmon;
//     height: 56px;

//     &--dark{
//         background-color: $color-lightSalmon;
//         color: $color-white;
//     }

//     &--light{
//         background-color: $color-white;
//         color: $color-lightSalmon;
//     }

//     &--big{
//         width: 448px;
//         font-size: 22px;
//     }


//     &--medium{
//         width: 264px;
//         font-size: 20px;
//     }

//     &--small{
//         width: 144px;
//         font-size: 18px;
//     }
    
// }