.b-color-salmon{
    color: $color-lightSalmon;

    &--big{
        font-size: 24px;
        font-family: barlowsemibold;
    }

    &--medium{
        font-size: 16px;
        font-family: barlowsemibold;
    }
}

.b-color-ocean{
    color: $color-ocean;

    &--big{
        font-size: 24px;
        font-family: barlowsemibold;
    }

    &--medium{
        font-size: 16px;
        font-family: barlowsemibold;
    }
}

.b-color-pineGreen{
    color: $color-pineGreen;

    &--big{
        font-size: 20px;
        font-family: barlowsemibold;
    }

    &--medium{
        font-size: 16px;
        font-family: barlowsemibold;
    }
}