.b-input-password {
    position: relative;
    width: 80%;
  max-width: 800px;
    // height: 16px;
  

  &__password {
    outline: none;
    border: none;
    border-bottom: 1px solid $color-cloudyBlue;
    color: $color-greyishBrown;
    width: 100%;
    font-size: 18px;
    padding-top: 15px;
  }

  &__icon{
    position: absolute;
    bottom: 10px;
    right: 2px;
    color: $color-ocean;
    font-size: 24px;
  }

  &__p{
    text-align: end;
    margin-top: 16px;
  }
}
