.b-input {
  border: none;
  border-bottom: 1px solid $color-cloudyBlue;
  color: $color-greyishBrown;
  outline: none;
  font-size: 16px;
  margin-bottom: 48px;
  width: 80%;
  max-width: 800px;

  &--big {
    width: 100%;
  }

  &--medium {
    width: 90%;
  }

  &--mb{
    margin-bottom: 10px;
  }
}
