.b-margin{
    &__top{

        &--extrabig{
            margin-top: 100px;
        }
        
        &--big{
            margin-top: 56px;
        }

        &--medium{
            margin-top: 48px;
        }

        &--small{
            margin-top: 32px;
        }
    }

    &__bottom{

        &--extrabig{
            margin-bottom: 100px;
        }
        
        &--big{
            margin-bottom: 56px;
        }

        &--medium{
            margin-bottom: 48px;
        }

        &--small{
            margin-bottom: 32px;
        }
    }
}