.b-modal-edit{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 50vh;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $color-white;
    border-radius: 16px;
}