.b-select {
    width: 80%;
    max-width: 800px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 48px;
  cursor: pointer;

  &__content {
    border: none;
    border-bottom: 2px solid $color-cloudyBlue;
    color: $color-pineGreen;
    outline: none;
    font-size: 16px;
    margin-top: 16px;
    background-color: transparent;
  }

  &__opcion {
    color: $color-ocean;
    font-size: 16px;
  }

  &--big {
    width: 100%;
  }

  &--medium {
    width: 80%;
  }

  // &--medium{
  //     width: 304px; //352
  // }
}
