
.b-select-border {
  height: 50px;
  width: 90%;
  max-width: 700px;
  border: 1px solid $color-cloudyBlue;
  background-color: transparent;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $color-ocean;
  margin: 10px auto;
  font-size: 16px;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
  }

  &__icon{
    font-size: 24px;
  }
 
}
