.b-separator{
   width: 100%; 
   height: 1px;
   background-color: $color-cloudyBlue;
   margin: 0 auto;

   &--small{
      width: 50%;
   }

   &--salmon{
      background-color: $color-lightSalmon;
   }
}