@import '../../../styles/imports/settings.imports';

.c-filter{
    // width: 100%;
    // font-size: 18px;
    padding-left: 20px;

    &__label{
        margin-top: 22px;
    }


    &__buttons{
        margin: 0 auto 38px auto;
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__content{
        margin-bottom: 32px;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    
}