@import "../../../styles/imports/settings.imports";

.c-portait-adoption {
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  border: 2px solid $color-cloudyBlue;
  margin: 0px auto 42px auto;

  &__header {
    justify-content: space-evenly;
  }

  &__status {

    &--process {
      color: $color-squash;
    }

    &--reject {
      color: $color-tomato;
    }

    &--complete {
      color: $color-green;
    }

    &--available{
      color: $color-blue;
    }
  }

  &__span{
    font-size: 20px;
  }

  &__body {
    justify-content: space-evenly;
  }

  &__content-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: $color-cloudyBlue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    object-fit: cover;
    width: 94%;
    height: 94%;
    border-radius: 50%;
    margin: auto;
  }

  &__content-data-title {
    font-family: barlowmedium;
  }

  &__content-data {
    font-family: barlowregular;
  }
}
