@import "../../../styles/imports/settings.imports";

.c-register {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;



  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }

  &__img {
    width: 60px;
  }

  &__primary-title {
    letter-spacing: 6px;
    margin-left: 8px;
  }

  &__second-title {
    width: 80%;
    margin-top: 88px;
    margin-bottom: 64px;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }



  &__p{
    text-align: end;
    margin-top: 16px;
  }

  &__btn {
    margin: 32px auto 0 auto;
  }
}
