// @import "../../../styles/imports/settings.imports";

// .b-box-filter{
//     width: 60%;
//     height: 310px;
//     background-color: $color-white;
//     border-radius: 10px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     // align-items: center;

//     &__buttons{
//         display: flex;
//         flex-direction: row;
//         justify-content: space-around;
//     }

//     &__btn{
//         margin: 0 auto;
//     }
// }