$icomoon-font-family: "lucky" !default;
$icomoon-font-path: "fonts" !default;

$lucky-mas: "\e93c";
$lucky-like: "\e93b";
$lucky-back-arrow: "\e900";
$lucky-Ave: "\e901";
$lucky-blog: "\e902";
$lucky-boy: "\e903";
$lucky-calendar: "\e904";
$lucky-camera: "\e905";
$lucky-Gato: "\e906";
$lucky-circle: "\e907";
$lucky-close: "\e908";
$lucky-complete: "\e909";
$lucky-config: "\e90a";
$lucky-Perro: "\e90b";
$lucky-dog-ball: "\e90c";
$lucky-dog-house: "\e90d";
$lucky-donate: "\e90e";
$lucky-down-arrow: "\e90f";
$lucky-education: "\e910";
$lucky-email: "\e911";
$lucky-events: "\e912";
$lucky-export: "\e913";
$lucky-eye: "\e914";
$lucky-Hembra: "\e915";
$lucky-Huron: "\e916";
$lucky-filter: "\e917";
$lucky-Pez: "\e918";
$lucky-Anfibio: "\e919";
$lucky-girl: "\e91a";
$lucky-hair-dryer: "\e91b";
$lucky-Cobaya: "\e91c";
$lucky-heart: "\e91d";
$lucky-home: "\e91e";
$lucky-info: "\e91f";
$lucky-localization: "\e920";
$lucky-logout: "\e921";
$lucky-Macho: "\e922";
$lucky-Mamifero: "\e923";
$lucky-maps: "\e924";
$lucky-next-arrow: "\e925";
$lucky-notification: "\e926";
$lucky-oval: "\e927";
$lucky-paw: "\e928";
$lucky-pet: "\e929";
$lucky-pet-adoption: "\e92a";
$lucky-pet-friendly: "\e92b";
$lucky-petgarten: "\e92c";
$lucky-pet-house: "\e92d";
$lucky-pet-shop: "\e92e";
$lucky-plus: "\e92f";
$lucky-process: "\e930";
$lucky-Conejo: "\e931";
$lucky-reject: "\e932";
$lucky-search: "\e933";
$lucky-Reptil: "\e934";
$lucky-Aracnido: "\e935";
$lucky-sponsor: "\e936";
$lucky-up-arrow: "\e937";
$lucky-veterinary: "\e938";
$lucky-veterinary-clinic: "\e939";
$lucky-whatsapp: "\e93a";

