@import "../../../styles/settings/colors.settings";

.c-animals-details{
    position: relative;
    // background-color: $color-cloudyBlue;

    &__modal-active{
        background-color: $color-cloudyBlue;
    }

    &__modal--inactive{
        background-color: transparent;
    }

    &__arrow{
        position: absolute;
        top: 20px;
        left: 20px;
    }
    
    &__img{
        position: relative;
        width: 100vw;
        height: 34vh;
    }

    &__header{
        position: absolute;
        bottom: -24px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        background-color: $color-white;
    }

    &__history{
        border: 1px solid $color-cloudyBlue;
        border-radius: 10px;
    }
}