@import '../../../styles/imports/settings.imports';

.c-input-password {
  position: relative;
  width: 80vw;
  max-width: 800px;
    
    &__text {
      outline: none;
      border: none;
      border-bottom: 1px solid $color-cloudyBlue;
      color: $color-greyishBrown;
      width: 100%;
      font-size: 18px;
    }
  
    &__icon {
      position: absolute;
      bottom: 36px;
      right: 2px;
      color: $color-ocean;
      font-size: 24px;
    }

    &__p{
      text-align: end;
      margin-top: 16px;
    }
}
  