@import "../../../styles/imports/settings.imports";

.c-portait {
  width: 90%;
  // height: 344px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0px auto 42px auto;
  font-size: 16px;

  &__content-img {
    width: 99%;
    height: 260px;
    margin: 0;
  }

  &__img {
    border-radius: 10px;
    margin-top: 2px;
  }

  &__content-pets {
    width: 100%;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__location {
    margin-right: 20px;
  }

  &__p {
    margin-bottom: 0;
    margin-top: 2px;
  }

  &__title--light{
    color: $color-white;
  }

  &__title--news {
    margin: 15px auto;
  }

  &__title--animals {
    margin-left: 20px;
    color: $color-ocean;
    font-size: 28px;
    font-family: barlowsemibold;
  }

  &__favorite{
      font-size: 32px;
      color: $color-white;
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      border: none;
  }

  &--ocean-light {
    border: 2px solid $color-cloudyBlue;
    color: $color-ocean;
  }

  &--salmon-light {
    border: 2px solid $color-lightSalmon;
    color: $color-lightSalmon;
  }

  &--ocean-dark {
    border: 2px solid $color-cloudyBlue;
    background-color: $color-cloudyBlue;
    color: $color-ocean;
  }

  &--salmon-dark {
    border: 2px solid $color-lightSalmon;
    background-color: $color-lightSalmon;
    color: $color-white;
  }
}
