@import "../../styles/imports/settings.imports";


.c-home{
    // width: 100%;
    display: flex;
    flex-direction: column;

    &__title-name{
        margin-top: 100px;
        margin-left: 32px;
        text-align: start;
    }

    &__title-news{
        margin-left: 32px;
        margin-bottom: 32px;
        text-align: start;
        font-size: 18px;
        font-family: barlowmedium;
        letter-spacing: 1px;
    }
}