h1{
  font-size: 32px;
  color: $color-ocean;
  font-family: $font-regular;
  text-align: center;
  margin: 0;
}

h2{
  font-size: 24px;
  color: $color-ocean;
  font-family: $font-regular;
  text-align: center;
  margin: 0;
}


h3{
  font-size: 24px;  
  color: $color-pineGreen;
  font-family: $font-medium;
  text-align: center;
  margin: 0;
}


h4{
  font-size: 20px;  
  color: $color-ocean;
  font-family: $font-light;
  text-align: center;
  margin: 0;
}

h5{
  font-size: 18px;  
  color: $color-pineGreen;
  font-family: $font-light;
  text-align: center;
  margin: 0;
}