input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button {
  border-radius: 5px;
}

input[type="date"] {
  background-color: transparent;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  outline: none;
  border: 1px solid $color-cloudyBlue;
}

input[type="radio"]:before {
  content: "";
  display: block;
  width: 80%;
  height: 80%;
  margin: 10% auto;
  border-radius: 50%;
}

input[type="radio"]:checked:before {
  background: $color-lightSalmon;
}

input[type="radio"]:checked {
  border-color: $color-lightSalmon;
}
