@import "../../../styles/imports/settings.imports";

.c-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: $color-white;
  width: 100%;
  height: 50px;
  align-items: center;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: 0px -4px 11px -1px rgba(179,175,179,1);
  -moz-box-shadow: 0px -4px 11px -1px rgba(179,175,179,1);
  box-shadow: 0px -4px 11px -1px rgba(179,175,179,1);
  

  &__link {
    font-size: 28px;

    &--active {
      color: $color-lightSalmon;
    }

    &--inactive {
      color: $color-ocean;
    }
  }
}
