@import '../../../styles/imports/settings.imports';

.c-modal-send{
    width: 90vw;
    height: 80vh;
    max-width: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
    background-color: $color-white;

    &__close{
       position: absolute;
       top: 32px;
       left: 32px;
    }

    &__title{
        // width: 320px;
        // margin-top: 42px;
        font-family: barlowmedium;
        width: 80%;
        margin-top: 42px;
    }

    &__p{
        font-family: barlowmedium;
        font-size: 18px;
        width: 320px;
        text-align: center;
        margin: 0;
        margin-top: 16px;
        color: $color-pineGreen;
    }

    &__img{
        width: 216px;
        height: 224px;
    }
}