@import "../../../styles/imports/settings.imports";

.c-photo-profile {
  border-radius: 50%;
  background-color: $color-ocean;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5px;

  &__img {
    object-fit: cover;
    width: 94%;
    height: 94%;
    border-radius: 50%;
  }

  &--big {
    width: 96px;
    height: 96px;
  }

  &--small {
    width: 26px;
    height: 26px;
  }
}
