$color-ice: #f1fffa;
$color-tiffanyBlue: #6af7dd;
$color-ocean: #01748e;
$color-pineGreen: #0e363d;
$color-black: #2d2d2d;
$color-gray: #d8d8d8;
$color-greyishBrown: #555555;
$color-squash: #f5a623;
$color-tomato: #f44332;
$color-white: #ffffff;
$color-lightSalmon: #fa9c93;
$color-cloudyBlue: #bdd2d6;
$color-green: #08b324;
$color-blue: #0844b3;