@import '../../../styles/imports/settings.imports';

.c-menu-home{
    width: 85%;
    max-width: 400px;
    // height: 80px;
    padding: 10px;
    background-color: $color-cloudyBlue;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;

    &__icon{
        font-size: 48px;
        color: $color-ocean;
        margin-left: 16px;
        margin-right: 16px;
    }

    &__p{
        color: $color-black;
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 0;
    }
}