@import "../../../styles/imports/settings.imports";

.c-modal-adoption {
    width: 90vw;
    height: 80vh;
    max-width: 500px;
    border-radius: 15px;
    // border: 1px solid $color-lightSalmon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    background-color: $color-white;
  

  &__title {
    font-family: barlowmedium;
    width: 80%;
    margin-top: 42px;
  }

  &__subtitle {
      font-family: barlowmedium;
      font-size: 16px;
      color: $color-ocean;
      width: 80%;
      margin: 0;
      text-align: center;
  }

  &__p {
    font-family: barlowregular;
    width: 80%;
    text-align: center;
    // margin: 0;
  }

  &__img {
    width: 80%;
    height: 20vh;
  }

  &__content-links {
    border-top: 1px solid $color-cloudyBlue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 1px;
      height: 100%;
      background-color: $color-cloudyBlue;
    }
  }

  &__link {
    font-family: barlowmedium;
    font-size: 16px;
    height: 20px;
    width: 96px;
    margin: auto;
    text-align: center;

    &--cancel {
      color: $color-lightSalmon;
    }

    &--next {
      color: $color-pineGreen;
    }
  }
}
