@import "../../styles/imports/settings.imports";

.b-primereact-carousel {
//   height: 100vh;
  
  .p-carousel {
    //   height: 100%;
      
      .p-carousel-content {
          
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

      .p-carousel-container {
        .p-button {
          display: none;
        }

        .p-carousel-items-content {
          .p-carousel-items-container {
            .p-carousel-item {
              overflow: hidden;
            }
          }
        }
      }

      .p-carousel-dot-item {
        margin-right: 8px;

        .p-link {
          outline: none;
          border: none;

          .p-carousel-dot-icon {
            font-size: 12px;
          }
        }

        .pi-circle-on {
          color: $color-lightSalmon;
          outline: none;
        }

        .pi-circle-off {
          color: $color-lightSalmon;
          outline: none;
        }
      }
    }
  }
}
