@import "../../styles/imports/settings.imports";

.b-primereact-dialog{

    .p-dialog-mask {
        background-color: rgba(189, 210, 214, 0.918);
    }

    .p-dialog-titlebar{
        display: none;
    }
}
