@import "../../styles/imports/settings.imports";

.b-primereact-progressbar{
    background-color: rgba(250, 156, 147, 0.35);
    border-radius: 8px;
    height: 8px;

    .p-progressbar-determinate .p-progressbar-label {
        background-color: $color-lightSalmon;
    }

    .p-progressbar-value {
        background-color: $color-lightSalmon;
    }

}