@import "../../styles/imports/settings.imports";

.b-primereact-upload {
    position: relative;
    overflow: hidden;
    border: 1px solid salmon;
    height: 120px;
    width: 90px;
    color: $color-lightSalmon;

    .pi-plus:before {
        content: "\e905";
    }

    .p-button .p-button-text {
        display: block;
        line-height: normal;
        color: salmon;
    }
}
