@import "../../styles/imports/settings.imports";

.b-primereact-acordion{
    margin-left: 0px;
    .p-accordion-tab{
        

        .p-toggleable-content {
            .p-accordion-content {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0;
                padding: 0;
            }
        }
    }

    .p-accordion-header-text{
        color: $color-ocean;
    }

    .pi-caret-down:before, .pi-caret-right:before {
        content: "\e90a";
        color: $color-ocean;
        margin-right: 6px;
    }


    &__img{
        width: 30%;
        margin-left: 10px;
        margin-right: 16px;
    }
   
}