@import "../../styles/imports/settings.imports";

.b-primereact-tabview {
    padding: 0;
    margin-top: 54px;

    .p-tabview-nav { //ul
        padding: 0;

        li{
            width: 32%;
            display: flex;
            justify-content: center;
        }

        li a{
            cursor: pointer;
            color: $color-greyishBrown;
            font-size: 20px;
        }

        li.p-tabview-selected{
            border-bottom: 2px solid $color-lightSalmon;

            a {
                cursor: text;
                color: $color-ocean;
                font-size: 20px;
            }

        } 

        
    }


    .p-tabview-panel{
        padding-top: 40px;
    }
  
}
  