@import "../../../styles/imports/settings.imports";

.c-input-search {
  position: relative;
  // width: 90%;
  // max-width: 800px;
  // margin: 0 auto;
  // background-color: yellow;

  &__text {
    width: 100%;
    outline: none;
    border: 1px solid $color-cloudyBlue;
    color: $color-greyishBrown;
    border-radius: 20px;
    height: 32px;
    padding-left: 28px;
  }

  &__icon {
    position: absolute;
    top: 8px;
    right: 32px;
    color: $color-lightSalmon;
  }

  &--big {
    width: 424px;
  }

  &--medium {
    width: 100%;
    max-width: 600px;
  }
}
